@import "loader";
body {
  font-family: 'Open Sans', sans-serif;
}

#image-container {
  display: none;
}

#canvas-container canvas {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}