<html>

<head>
    <meta charset="utf-8" />
    <title>Web and Service Worker Example</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body id="root">
    <div>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="generated"></div>
</body>

<script src="js/main/main.js"></script>

</html>