<html>

<head>
    <meta charset="utf-8" />
    <title>Web and Service Worker Example</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body id="root">
    <div class="loader">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="image-container">
        <img data-image-src="1.JPG" />
        <img data-image-src="2.JPG" />
        <img data-image-src="3.JPG" />
        <img data-image-src="4.JPG" />
        <img data-image-src="5.JPG" />
        <img data-image-src="6.JPG" />
    </div>
    <div id="canvas-container" class="hidden">

    </div>
</body>

<script src="js/main/main.js"></script>

</html>